<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Booking confirmed from  <%= "#{@booking.start_date}" %> to <%= "#{@booking.end_date}" %></h1>
      <h2>Gear rent : <%= @gear.model %><%= @gear.brand %></h2>
      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>
