

<%= render 'pages/home' %>


<div class="text-center row" >
  <div class="col-xs-12">
    <h2>All kite gears available for rent</h2>
  </div>
</div>
<div class = "card-content">
  <div class="row" id="cards">
    <%@gears.each do |gear| %>
      <div class="col-xs-12 col-sm-4">
       <%= link_to gear_path(gear), method: :get do %>
          <div class="card">
            <% if gear.photos.empty? %>
              <% if gear.gear_type == "kite" %>
                <%= render 'gears/card', url:'http://s3.e-monsite.com/2010/08/23/04/resize_550_550//kitesurf5med.jpeg' , gear_type: gear.gear_type, gear_model: gear.model %>
              <% else %>
                <%= render 'gears/card', url:'http://img.nauticexpo.com/images_ne/photo-g/kitesurf-boards-surfs-21408-3554753.jpg', gear_type:gear.gear_type, gear_model:gear.model %>
              <% end %>
            <% else %>
              <%= render 'gears/card', url:cl_image_path(gear.photos.first.path), gear_type:gear.gear_type, gear_model:gear.model %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<!-- </div> -->








