<div class="container">


  <div class="text-center row" >
    <div class="col-xs-12">
      <h1>Here is all the kite gear available for rent</h1>
    </div>
  </div>

  <div class="cards row">
    <%@gears.each do |gear| %>
    <%= link_to gear_path(gear), method: :get do %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_url 'switchblade.jpg' %>');">
          <div class="card-category">Matériel</div>
          <div class="card-description">
            <h2><%= gear.gear_type.capitalize %> </h2>
            <p><%= gear.model %></p>
          </div>
                 <!--changer le path -->
                <!--  -->


          <%=link_to "Go to gear page", gear_path(gear)%>

        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>








