   <div class="view">
 -->  <h1><%= @gear.gear_type %> - <%= @gear.brand %> - <%= @gear.model %></h1>
  <h2>size: <%= @gear.size %> - year: <%= @gear.year %></h2>
  <h3><%= @gear.description %></h3>
  <h2><%= @gear.daily_price/100 %>€ per day</h2>

  <%= simple_form_for [@gear, @booking] do |f| %>
    <%# f.error_notification %>
   <%= f.input :start_date, as: :string, input_html: { class: 'datepicker' } %>
   <%= f.input :end_date, as: :string, input_html: { class: 'datepicker' } %>
   <%= f.button :submit, "Book this gear" %>
  <% end %>

<% if @gear.photos? %>
  <% @gear.photos.each do |photo| %>
    <%= cl_image_tag photo.path, width: 200, height: 300, crop: :fill %>
  <% end %>
<% end %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'switchblade.jpg' %>');">
</div>
</div>
