<div class="container">
  <h1><%= @gear.gear_type %> - <%= @gear.brand %> - <%= @gear.model %></h1>
  <h2>size: <%= @gear.size %> - year: <%= @gear.year %></h2>
  <h3><%= @gear.description %></h3>
  <h2><%= @gear.daily_price/100 %>€ per day</h2>

  <%= simple_form_for [@gear, @booking] do |f| %>
    <%# f.error_notification %>
   <%= f.input :start_date, as: :string, input_html: { class: 'datepicker' } %>
   <%= f.input :end_date, as: :string, input_html: { class: 'datepicker' } %>
   <%= f.button :submit, "Book this gear" %>
  <% end %>

  <p>photo 1</p>
  <p>photo 2</p>
  <p>photo 3</p>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'switchblade.jpg' %>');">
</div>
</div>
