<div class="view">
  <div class="text-center">
    <h1><%= current_user.first_name %>'s Kitelib dashboard</h1>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="bordure_grise" >
          <h3><i class="fa fa-address-card-o" aria-hidden="true"></i>My gear for rent</h3>
          <div class="fond-blanc">

              <% @user_gears.each do |gear| %>
                <div class="row">

                  <div class="col-xs-4">
                      <div class="gear-result">
                        <h4><%= gear.gear_type %> <%= gear.brand %></h4>
                        <h4><%= gear.model %> size: <%= gear.size %></h4>
                          <%= link_to gear_path(gear), method: :get do %>
                            <div class="photo-content">
                                 <% if gear.photos? %>
                                   <% gear.photos.each do |photo| %>
                                   <%= cl_image_tag photo.path, width: 100, height: 120, crop: :fill %>
                                   <% end %>
                                 <% end %>
                            </div>
                          <% end %>
                    </div>
                  </div>

                  <div class="col-xs-8">
                    <div class="gear-result">
                      <% if gear.bookings.count == 0 %>
                      No booking on this gear
                      <% else %>
                        <% gear.bookings.each do |b| %>
                          <div data-booking-id="<%= b.id %>">
                          <h4>booking Nº: <%= b.id %></h4>
                          <% if b.status == 0 %>
                             <div>
                               <p>request pending from : <%= b.user.first_name %>
                               <br>from: <%= b.start_date %>
                                to: <%= b.end_date %>
                                </p>
                                ACCEPT THIS REQUEST?
                                  <p><%= link_to "No", gear_booking_path(gear.id,b.id), method: :delete, remote: true %></p>
                              </div>
                          </div>

                           <% else %>
                             <p>booking ongoing with : <%= b.user.first_name %>
                              <br>status : <%= b.status %>
                              <br>from: <%= b.start_date %>
                              to: <%= b.end_date %>
                              </p>
                           <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
               <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="bordure_grise" >
          <h3><i class="fa fa-calendar" aria-hidden="true"></i>My bookings</h3>
          <div class="fond-blanc">
              <%  @user_bookings.each do |booking| %>
                <div data-booking-id="<%= booking.id %>">
                  <p>Booking ID: <%= booking.id %>
                    - Gear belonging to <%= booking.gear.user.first_name %> -
                    <%= booking.gear.gear_type %> -
                    <%= booking.gear.brand %> -
                    <%= booking.gear.model %> -
                    from: <%= booking.start_date %>
                    to: <%= booking.end_date %>
                    status: <%= booking.status %>
                  </p>
                </div>
              <% end %>
              <hr>
          </div>
        </div>
    </div>
  </div>

</div>
